<!-- Update Button -->
<!--     <div class='row', 'col s12 m8'>
      <% action = '/' + note.id %>
      <form action=<%= action %> method='POST'>
        <input type='text' name='title'  />
        <input type='text' name='content'  />
        <button class='btn green darken-2'>Update</button>
      </form>
    </div> -->